@import 'bootstrap';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(77, 75, 75);
}

h2,
h3 {
  margin: 20px;
  text-align: center;
  color: bisque;
}

.navbar-light {
  background-color: rgb(44, 52, 78) !important;
}

.container {
  margin-top: 20px;
  padding: 20px;
  background-color: gray !important;
  color: #fff;
  border: 1px dotted brown;
  border-radius: 10px;
}

footer li {
  list-style: none;
}

.todo {
  font-size: small;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: blanchedalmond;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 10px rgb(49, 49, 49);
}

.btn-danger {
  background-color: brown;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(49, 49, 49);
  color: #fff;
}

footer p {
  margin-top: 15px;
}

.flexfooter {
  display: flex;
  justify-content: center;
}
